<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doctor">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doctor">
        <activity android:name=".AppointmentDetails"></activity>
        <activity android:name=".PatientAppointmentPage" />
        <activity android:name=".AppointmentList" />
        <activity android:name=".DoctorDecline" />
        <activity android:name=".DoctorApproval" />
        <activity android:name=".Bookpage" />
        <activity android:name=".Selectdoctor" />
        <activity android:name=".DoctorHomePage" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".PatientHomePage" />
        <activity android:name=".RegisterDoctor" />
        <activity android:name=".RegisterPatient" />
        <activity android:name=".AppointmentComplete" />
        <activity android:name=".DoctorSchedule" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>